@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Ubuntu:wght@300&display=swap');

.icon {
   width: 200px;
   height: 70px;
   float: left;
}

.logo {
   position: relative;
   cursor: pointer;
   font-size: 50px;
   font-family: Calistoga;
   letter-spacing: 10%;
   font-weight: 700;
   line-height: 1.2;
   float: left;
   padding-left: 20px;
   padding-top: 10px;
   color: #fff;
   letter-spacing: 2px;
   z-index: 1;
}

.logo:hover{
  text-shadow: 0 2px 2px rgba(0,145,234,1);
}

.logo:before,
.logo:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 10px;
   left: 20px;
   opacity: 0.8;
}

.logo:before {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #ff00ff;
   z-index: -1;
}

.logo:after {
   animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #0091ea;
   z-index: -2;
}

@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}